
<div><company-search></company-search></div>

<div>
    <!--<label>Company name:</label> <input #companyName />-->

    <!--<a routerLink="/companies" routerLinkActive="active">Companies</a>-->
    <!--<button (click)="add(companyName.value); companyName.value=''" routerLink="/modal-basic" routerLinkActive="active">Add</button>-->
    <button class="add" (click)="showDialog=!showDialog" class="btn">Add</button>
    <app-dialog [(visible)]="showDialog">
      <h1>Add</h1>
      <button (click) ="showDialog=!showDialog" class="btn">Close</button>
    </app-dialog>
  </div>

  <ul class="companies">
    <li *ngFor="let company of companies" (click)="onSelect(company)" 
        [class.selected]="company === selectedCompany">
      <span class="badge">{{company.id}}</span>
      <span>{{company.name}}</span>
      <button class="delete" (click)="delete(company); $event.stopPropagation()">x</button>
      <button class = "edit" (click)="showEdit=!showEdit" class="btn">Edit</button>
      <app-edit [(visible)]="showEdit">
        <h1>Edit</h1>
      </app-edit>
    </li>
</ul>

      
   
  
  <div *ngIf="selectedCompany">
    <h2>
      {{selectedCompany.name | uppercase}} is the company
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
  <router-outlet></router-outlet>


