<div [@edit] *ngIf="visible" class="edit">
    <ng-content></ng-content>
    <button *ngIf="closable" (click)="close()" aria-label="Close" class="edit__close-btn">X</button>
    <div>
        <div><label>id: </label><input #companyid /></div>
        <div><label>Name: </label><input #companyName /></div>
        <div><label>No: </label><input #companyNo /></div>
        <div><label>Type: </label><input #companyType /></div>
    </div>
  </div>
  <div *ngIf="visible" class="overlay" (click)="close()"></div>