
<h2>Projects</h2>
<div>
  <project-search></project-search>
  <!--
  <project-detail></project-detail>
  -->
  <br>
  <label>Project name:</label> <input #projectName />
  <button (click)="add(projectName.value); projectName.value=''">
    Add
  </button>
</div>
<ul class="projects">
  <li *ngFor="let project of projects" (click)="onSelect(project)"
      [class.selected]="project === selectedProject">
    <span class="badge">{{project.id}}</span>
    <span>{{project.name}}</span>
    
    <button class="delete"
      (click)="delete(project); $event.stopPropagation()">x</button>
      <button class = "edit" (click)="gotoDetail()">Edit</button>
  </li>
</ul>