<h1> Hello</h1>
<!--
  <div *ngIf="project">
    <br>
    <div>
      <label>id: {{project.id}}</label>
    </div>
    <div>
      <h2>name: {{project.name}} </h2>
    </div>
  
    <div>
        <label>Development: </label>
        <input [(ngModel)]="project.Development" placeholder="Development" />
      </div>
      <br>
      <div class="formfield">
          <label for="textarea">Scope Of Works:</label>
          <textarea type=specialInput id="textarea" rows="6" [(ngModel)]="project.ScopeOfWorks"></textarea>
      </div>
      <br>
    <div>
      <label>Client: </label>
      <input [(ngModel)]="project.Client" placeholder="Client" />
    </div>
    <br>
    <div>
      <label>Project Manager: </label>
      <input [(ngModel)]="project.ProjectManager" placeholder="Project Manager" />
    </div>
    <br>
    <div>
      <label>Architect: </label>
      <input [(ngModel)]="project.Architect" placeholder="Architect" />
    </div>
    <br>
    <div>
      <label>Design Architect: </label>
      <input [(ngModel)]="project.DesignArchitect" placeholder="Design Architect" />
    </div>
    <br>
    <div>
      <label>Quantity Surveyor: </label>
      <input [(ngModel)]="project.QuantitySurveyor" placeholder="Quantity Surveyor" />
    </div>
    <br>
    <div>
      <label>C&S Engineer: </label>
      <input [(ngModel)]="project.CandSEngineer" placeholder="C&S Engineer" />
    </div>
    <br>
    <div>
      <label>Services Engineer: </label>
      <input [(ngModel)]="project.ServicesEngineer" placeholder="Services Engineer" />
    </div>
    <br>
    <div>
      <label>Main Contractor: </label>
      <input [(ngModel)]="project.MainContractor" placeholder="Main Contractor" />
    </div>
  
  
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </div>

-->