<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         <i class="fa fa-align-justify"></i> Companies Table
        </div>
        <div class="card-body">
          <button>
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="input-group">
                        <input *ngIf="config.filtering" placeholder="Company Name"
                               [ngTableFiltering]="config.filtering"
                               class="form-control"
                               (tableChanged)="onChangeTable(config)">
                               <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                                 Add
                               </button>
                      </div>
                    </div>
                  </div>
                  <br>
                  <ng-table 
                       [config]="config"
                       (tableChanged)="onChangeTable(config)"
                       (cellClicked)="onCellClick($event)"
                       [rows]="rows" [columns]="columns">
                 </ng-table>
                 <div class="col-md-4 pull-right">
                   <button 
                   type="button" 
                   class="btn btn-primary"
                   [(ngModel)]="editBtnModel" btnCheckbox
                   btnCheckboxTrue="1" btnCheckboxFalse="0">
                   <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
                   </button> 
                   <button type="button" class="btn btn-danger"
                   [(ngModel)]="deleteBtnModel" btnCheckbox
                   btnCheckboxTrue="1" btnCheckboxFalse="0">Delete
                   <i class="fa fa-trash-o" aria-hidden="true"></i>
                   </button>
                 </div>
                 <br>
                 <pagination *ngIf="config.paging"
                             class="pagination-sm"
                             [(ngModel)]="page"
                             [totalItems]="length"
                             [itemsPerPage]="itemsPerPage"
                             [maxSize]="maxSize"
                             [boundaryLinks]="true"
                             [rotate]="false"
                             (pageChanged)="onChangeTable(config, $event)"
                             (numPages)="numPages = $event">
                 </pagination> 
                 <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
                 </div>
      
          </button>
        </div>

      </div>
    </div>
  </div>
</div>