<div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <div id="page" [@moveInLeft]="state">
      <h2>Hey {{ name.email }}!</h2>

      <img src="../../assets/images/filler.png" />
    </div>
    <div>
        &nbsp;&nbsp;
        <a routerLink="/companies" id="companies">Companies</a> || 
        <a routerLink="/projects" id="projects">Projects</a> || 
        <a routerLink="/project-members" id="projmembers">Project Members</a>||
        <a routerLink="/manage-sc" id="manager-contracts">Manage Smart Contract</a>||
        <a routerLink="/view-model" id="viewmodels">View Design Models</a>
    </div>
</div>